@model Hospital.Models.Hospitals

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hospitals</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mainSpecialty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mainSpecialty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.roomName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.roomName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.registeredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.registeredDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.name">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
