@model IEnumerable<Hospital.Models.Hospitals>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mainSpecialty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.registeredDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mainSpecialty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.registeredDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.name">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.name">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.name">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
